{% extends 'layout.html' %}
    {% block content %}
            <div class="body">
                <div class="container">
                    <div> 
                        {% if messages %}
                            {% for message in messages %}
                                <p class="alert"> 
                                    {{ message }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="wrapper">
                        <div class="row">
                            An email has been sent with instructions to reset your password
                        </div>
                    </div>
                </div>
            </div>
    {% endblock content %}