{% extends 'layout.html' %}
    {% block content %}
            <div class="body">
                <div class="container">
                    <div> 
                        {% if messages %}
                            {% for message in messages %}
                                <p class="alert"> 
                                    {{ message }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="wrapper">
                        <div class="title">
                            <span>Reset Password</span>
                        </div>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="row login_row">
                                {{ form.as_p }}
                            </div>
                            <div class="row button">
                                <button class="btn btn-outline-info">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    {% endblock content %}