{% extends 'layout.html' %}
    {% block content %}
            <div class="body">
                <div class="container">
                    <div> 
                        {% if messages %}
                            {% for message in messages %}
                                <p class="alert"> 
                                    {{ message }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="wrapper">
                        <div class="row">
                            Your password has been set.
                        </div>
                        <div class="signup-link"><a href="{% url 'login' %}">Sign In Here</a></div>
                    </div>
                </div>
            </div>
    {% endblock content %}